# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
.vscode/settings.json
android/app/src/main/java/io/flutter/app/FlutterMultiDexApplication.java
android/build/ios/Pods.build/Release-iphonesimulator/AppAuth-AppAuthCore_Privacy.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/AppAuth.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/desktop_webview_auth.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/Firebase.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/firebase_auth.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/firebase_core.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/firebase_dynamic_links.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/FirebaseAppCheckInterop.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/FirebaseAuth-FirebaseAuth_Privacy.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/FirebaseAuth.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/FirebaseCore-FirebaseCore_Privacy.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/FirebaseCore.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/FirebaseCoreInternal-FirebaseCoreInternal_Privacy.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/FirebaseCoreInternal.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/FirebaseDynamicLinks-FirebaseDynamicLinks_Privacy.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/FirebaseDynamicLinks.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/Flutter.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/flutter_keyboard_visibility.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/flutter_native_splash-flutter_native_splash_privacy.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/flutter_native_splash.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/google_sign_in_ios-google_sign_in_ios_privacy.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/google_sign_in_ios.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/GoogleSignIn-GoogleSignIn.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/GoogleSignIn.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/GoogleUtilities-GoogleUtilities_Privacy.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/GoogleUtilities.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/GTMAppAuth.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/GTMSessionFetcher-GTMSessionFetcher_Core_Privacy.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/GTMSessionFetcher.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/Pods-Runner.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/Pods-RunnerTests.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/PromisesObjC-FBLPromises_Privacy.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/PromisesObjC.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/RecaptchaInterop.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/shared_preferences_foundation-shared_preferences_foundation_privacy.build/dgph
android/build/ios/Pods.build/Release-iphonesimulator/shared_preferences_foundation.build/dgph
ios/firebase_app_id_file.json
ios/Podfile.lock
macos/firebase_app_id_file.json
macos/Runner/GoogleService-Info.plist
